Source: ryzenadj
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.org>
Build-Depends:
 debhelper(>= 11),
 cmake,
 libpci-dev 
Standards-Version: 4.5.1
Homepage: https://github.com/FlyGoat/RyzenAdj

Package: ryzenadj
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ryzen-smu-dkms
Description: RyzenAdj tool for adjusting Ryzen Mobile power states.
 Adjust power management settings for Ryzen Mobile Processors.
